@font-face {
  font-family: "Segoe UI Black";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Black"), local("Segoe UI Black"),
    url("../fonts/segoe-ui-black.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI Semibold";
  font-style: normal;
  font-weight: 500;
  src: local("Segoe UI Semibold"), local("Segoe UI Semibold"),
    url("../fonts/segoe-ui-semibold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato Semibold";
  font-style: normal;
  font-weight: 500;
  src: local("Lato Semibold"), local("Lato Semibold"),
    url("../fonts/segoe-ui-semibold.ttf") format("ttf");
  font-display: swap;
}
